

/*header starts*/
.header{
    height: 15vh;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.outlineEle{
    margin: 5px 20px;
}

a {
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'cornerstone';
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 20px;
}

.ok{
    background: #0f9675;
    color: #fff;
}

/*header ends*/


/*container starts*/

.container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 4px;
    max-width: 1000px;
    margin: 0 auto 50px;
}

.container_nav{
    background-color: #ab131b;
    display: flex;
    text-align: center;
    border-radius: 5px 5px 0 0;
    justify-content: center;
    align-items: center;
}

a{
    color: #fff;
    padding: 15px 35px;
}

a:active{
    background: #921217;
}

.content{
    padding: 35px;
    background-color: darkred;
}

.new{
    margin: -35px -35px 35px -35px ;
    background: #f9f9f9;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

pizza-items{
    background: #fff;
    flex: 0 0 33.33%;
    margin: 0 0 55px 0;
    transition: 0.2s all ease;}

.a{
    color: black;
}

.pizza-item {
    text-align: center;
    margin: 0 10px;
    padding: 20px 10px;
    border-radius: 4px;
    background: #f5f5f5;

}

pizza-display {
   display: block;
}

pizza-display base{
    position: relative;
}

h4{
    /*color: black;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    font-weight: normal;
    font-family: 'cornerstone';

}






/*container ends*/



/*footer starts*/
.footer{
    height: 25vh;
    border-radius: 0 0 4px 4px;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: darkorchid;
    display: flex;
    justify-content: space-around;
}

.footer_section{
    width: 300px;
    color: white;
    margin: 30px 30px;
}


/*footer ends*/